In [2]:
#importing pandas libraray

import pandas as pd

In [2]:
import pandas as pd
IOWA_file_path = ("/Users/shashikant/desktop/github/kaggle_learn/Machine Learning/train.csv")
data_IOWA = pd.read_csv(IOWA_file_path)
data_IOWA.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [3]:
data_IOWA.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
#Target field for the prediction

y = data_IOWA.SalePrice

In [12]:
#Create the dataframe X holding the predictive features to predict the sale price of an property
#LotArea, YearBuilt, 1stFlrSF, 2ndFlrSF, FullBath, BedroomAbvGr, TotRmsAbvGrd

feature_names = ["LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"]
X = data_IOWA[feature_names]

In [10]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [13]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [14]:
#Specify and Fit Model

#import Decision tree regressor from sklearn.tree libraray

from sklearn.tree import DecisionTreeRegressor

#DecisionTreeRegressor with random_status = 1

IOWA_model = DecisionTreeRegressor (random_state=1)

#Fit the model

IOWA_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [20]:
#Predictions of the first 5 rows

X.head()
predictions = IOWA_model.predict(X.head())

print(predictions)

[208500. 181500. 223500. 140000. 250000.]

In [21]:
#Prediction of the all the data points

predictios_X = IOWA_model.predict(X)
print(predictios_X)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [48]:
# model Validation "Mean Absolute Error" (In-sample validation problem)

from sklearn.metrics import mean_absolute_error
predicted_home_price = IOWA_model.predict(X)
mean_absolute_error (y, predicted_home_price)

8296.204109589042

In [34]:
# model validation using train_test_split

from sklearn.model_selection import train_test_split

#split train and val data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

#Fit the model
IOWA_model.fit(train_X, train_y)

#predicted price on validation data

val_predictions = IOWA_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

32966.449315068494

In [41]:
#overfitting and underfitting

from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [43]:
# compare MAE with differing values of max_leaf_nodes

Max leaf nodes: 5  		 Mean Absolute Error:  35190
Max leaf nodes: 25  		 Mean Absolute Error:  28501
Max leaf nodes: 50  		 Mean Absolute Error:  27825
Max leaf nodes: 100  		 Mean Absolute Error:  28653
Max leaf nodes: 250  		 Mean Absolute Error:  31738
Max leaf nodes: 500  		 Mean Absolute Error:  32662

In [45]:
min(3,7,0)

0

In [47]:
#random forest regressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

#specify the model
forest_model = RandomForestRegressor(random_state = 1)

# fit the model

forest_model.fit(train_X, train_y)
pred1 = forest_model.predict(val_X)
print(mean_absolute_error(val_y, pred1))

23009.206570906717